div{
    text-align: center;
    display: block;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
button{
    float: right;
}
h2{
    text-align: center;
}
label{
    text-align: left;
    color:#000080;
}
/* .frm-button{
    background-color:#000080;
    color:gold

} */